@media only screen and (max-width: 933px) {
  .main-nav {
    text-align: center;
  }

  .logo {
    padding: 2rem;
  }

  .cloud-img {
    height: 10rem;
    height: auto;
  }
}

@media only screen and (max-width: 621px) {
  html {
    font-size: 40%;
  }
}
