/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #fff;
}

li,
p,
label,
input,
button {
  font-size: 2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.8rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

/* Reusable Component */
.btn {
  border: none;
  padding: 1rem 2rem;
  background-color: rgb(97, 141, 223);
  color: #fff;
  border-radius: 0.4rem;
}

/* Section Header */

.main-header {
  background-color: rgb(70, 22, 22);
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-nav {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  min-height: 10vh;
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  flex: 1 1 40rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}

/* Section Hero */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/contact-mountain.png);
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  position: relative;
}

.hero-text-box {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box h2,
.hero-text-box h3 {
  font-weight: 300;
}

.hero-text-box h3 {
  margin-bottom: 2rem;
}

/* Section Locations */

.section-location {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.603), transparent),
    url(img/new-york-page.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.location-text {
  position: absolute;
  top: 30%;
  left: 5%;

  font-weight: 300;
}

.location-text h2 {
  font-size: 3.5rem;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.location-text h2::after {
  content: "";
  display: block;
  width: 300px;
  height: 5px;
  background-color: rgba(65, 14, 14, 0.664);
  margin: 0 auto;
  margin-top: 1rem;
}

.location-text h3 {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cloud-img {
  height: 40rem;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: -1; */
  opacity: 1;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

/* Section Benefits */

.benefits-header {
  background-color: #131c27;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  min-height: 30vh;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-header h2 {
  font-size: 3.5rem;
  padding: 2rem 0;
}

.benefits-header h3 {
  font-size: 2.8rem;
  font-weight: 300;
  padding: 2rem 0;
}

.cards {
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 20rem;
  min-height: 55vh;
  margin: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(19, 28, 39, 0.5);
}

.card-icon {
  background: #131c27;
  text-align: center;
  padding: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-icon img {
  height: 100px;
}

.card-text {
  padding: 3rem;
  text-align: center;
}

.card-text h2,
.card-text h3 {
  padding: 2rem;
}

/* Animation */
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Section Form */

.section-form {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(img/contact-mountain.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 60%;
  color: #fff;
  background-color: rgba(19, 28, 39, 0.5);
  /* padding: 3rem; */
  border-radius: 20px;
  text-align: center;
}

.form-head {
  padding: 3rem 0;
  /* text-align: center; */
}

.form-wrapper input {
  padding: 0.2rem 0.8rem;
}

.form-name,
.form-email {
  padding: 3rem 0;
}

.form-name label,
.form-email label {
  margin-right: 2rem;
}

.btn-form {
  width: 100%;
  margin-top: 3rem;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

/* Footer */

footer {
  min-height: 10vh;
  background-color: rgba(19, 28, 39, 1);
  color: #fff;
}

.footer-wrapper {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-head {
  flex: 1 1 40rem;
}

.footer-wrapper ul {
  flex: 1 1 40rem;
  list-style: none;

  display: flex;
  justify-content: space-between;
}
