/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

li,
p,
label,
input,
button {
  font-size: 2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

/* Section Header */

.main-header {
  background-color: rgb(70, 22, 22);
}

.main-nav {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  min-height: 10vh;
  padding: 2rem;

  display: flex;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  flex: 1 1 40rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav ul li {
}

.logo {
  flex: 2 1 40rem;
}
